name: deploy_site
on:
  push:
    branches:
      - main
  schedule:
    - cron: '5 16 * * *'

jobs:
  deploy-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.7.0
        with:
          node-version: 16
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SENSETHINKACT_UPLOAD_KEY }}
          ARGS: '-av --partial --delete --exclude .well-known'
          SOURCE: 'out/'
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}
          EXCLUDE: '.well-known'
